 .d {
   background-color: #0D0D0D;
   text-align: center;
 }

 .nav-item
 {
   padding: 0 18px;
   font-size: 1.4rem;
 }
.heading{
  padding: 7%;
  font-size:200%;
  color: #ff4301;
}
.total-cases{
  color:#EB9734;

}
.tested{
  color:#0779e4;


}
.active-cases{
  color:#fa1616;

}
.recovered{
  color:#2EB259;

}
.deceased
{
  color:#CF7BFD;
}
h3
{
  font-size:1.3rem;
}
.div-show{

  padding: 0 2.5%;
}
.box{
  padding:1.5% 1%;
}
.chart
{
  max-width: 45%;
}
.graph-top
{
  max-width: 45%;
align-items: center;


}
.canvas{  display:inline;}

.new
{
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  filter: brightness(57%);

}
@media (min-width: 481px) and (max-width: 767px)
 {
  .total{
    font-size: 1.2rem;
  }
  .title
  {
    font-size:0.9rem;
  }
  .new
  {
    font-size: 0.8rem;
  }
}


 
 .total{
    font-size: 1.2rem;
  }
  .title
  {
    font-size:0.9rem;
  }
  .new
  {
    font-size: 0.8rem;
  }
  
